ul{
    list-style-type: none;  /*no markers*/
    margin: 0;  /*inner edge is flush with ege of screen*/
    padding:0;  /*inner edge is flush with ege of screen*/
    overflow: hidden; /*ensures text is only seen within box*/
    background-color: royalblue;
}
li menu {
    display: block;/*menu = rectangle*/
    color: white;
    text-align: center;/*align in the center of the box*/
    padding: 16px;/*disance between edge of list items*/
    text-decoration: none;
    float: left;/*align with left side of the page*/
  }

  li a:hover {
    background-color: lightblue;/*hover colour*/
  }